.container {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  max-width: 300px;
  gap: 10px;

}

.input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
}

.button {
  padding: 10px;
}